@media only screen and (min-width: 1440px) and (max-width: 1680px) {
  /* MacBook Pro 2020*/
  .country1 {
    width: 473px;
    height: 473px;
  }
  .country2 {
    width: 475px;
    height: 473px;
  }
  .country3 {
    width: 232.91px;
    height: 232.91px;
  }
  .country4 {
    width: 157.24px;
    height: 157.24px;
  }
  .country5 {
    width: 378px;
    height: 378px;
  }
  .country6 {
    width: 284px;
    height: 284px;
  }
  .country7 {
    width: 260px;
    height: 373px;
  }
  .country8 {
    width: 328px;
    height: 328px;
  }
  .country9 {
    width: 472.53px;
    height: 470.54px;
  }
  .country10 {
    width: 208.55px;
    height: 208.55px;
  }
  .country11 {
    width: 471.54px;
    height: 475.95px;
  }
  .country12 {
    width: 226.02px;
    height: 226.02px;
  }
  .dice1 {
    width: 240px;
    height: 240px;
  }
  .dice2 {
    width: 165px;
    height: 165px;
  }
  .dice3 {
    width: 62.04px;
    height: 62.04px;
  }
  .dice4 {
    width: 62.04px;
    height: 62.04px;
  }
  .dice5 {
    width: 137px;
    height: 137px;
  }
  .dice6 {
    width: 83px;
    height: 83px;
  }
  .dice7 {
    width: 77px;
    height: 77px;
  }
  .dice8 {
    width: 185px;
    height: 185px;
  }
  .dice9 {
    width: 206px;
    height: 206px;
  }
  .dice10 {
    width: 164px;
    height: 164px;
  }
  .dice11 {
    width: 83px;
    height: 83px;
  }
  .dice12 {
    width: 90px;
    height: 90px;
  }
  .dice13 {
    width: 77px;
    height: 77px;
  }
  .dice14 {
    width: 136px;
    height: 136px;
  }
  .dice15 {
    width: 54px;
    height: 54px;
  }
  .dice16 {
    width: 184px;
    height: 184px;
  }
  .dice17 {
    width: 202px;
    height: 202px;
  }
  .dice19 {
    width: 145px;
    height: 145px;
  }
  .dice20 {
    width: 60px;
    height: 60px;
  }
  .dice21 {
    width: 112px;
    height: 112px;
  }
  .dice22 {
    width: 227px;
    height: 227px;
  }
  .dice23 {
    width: 146px;
    height: 146px;
  }
  .dice24 {
    width: 104px;
    height: 104px;
  }
  .dice25 {
    width: 104px;
    height: 106px;
  }
  .dice26 {
    width: 185px;
    height: 185px;
  }
  .dice27 {
    width: 81px;
    height: 81px;
  }
  .dice28 {
    width: 240px;
    height: 240px;
  }
  .dice29 {
    width: 81px;
    height: 81px;
  }
  .dice30 {
    width: 60px;
    height: 60px;
  }
  .dice31 {
    width: 104px;
    height: 104px;
  }
  .dice32 {
    width: 177px;
    height: 177px;
  }
  .dice33 {
    width: 105px;
    height: 105px;
  }
  .dice34 {
    width: 51px;
    height: 51px;
  }
  .dice35 {
    width: 54px;
    height: 54px;
  }
  .dice36 {
    width: 185px;
    height: 185px;
  }
  .dice37 {
    width: 97px;
    height: 97px;
  }
  .dice38 {
    width: 185px;
    height: 185px;
  }
  .dice39 {
    width: 193px;
    height: 193px;
  }
  .dice40 {
    width: 104px;
    height: 104px;
  }
  .dice41 {
    width: 206px;
    height: 206px;
  }
  .dice42 {
    width: 74px;
    height: 74px;
  }
  .dice43 {
    width: 100px;
    height: 100px;
  }
  .dice45 {
    width: 191px;
    height: 191px;
  }
  .dice46 {
    width: 209px;
    height: 209px;
  }
  .dice47 {
    width: 136px;
    height: 136px;
  }
  .dice48 {
    width: 104px;
    height: 104px;
  }
  .dice49 {
    width: 73.04px;
    height: 73.04px;
  }
  .dice50 {
    width: 95px;
    height: 95px;
  }
  .dice51 {
    width: 105px;
    height: 105px;
  }
  .dice52 {
    width: 74px;
    height: 74px;
  }
  .dice53 {
    width: 164px;
    height: 164px;
  }
  .dice54 {
    width: 166px;
    height: 166px;
  }
  .dice55 {
    width: 181px;
    height: 181px;
  }
  .dice56 {
    width: 246px;
    height: 246px;
  }
  .dice57 {
    width: 140px;
    height: 140px;
  }
  .dice58 {
    width: 164px;
    height: 164px;
  }
  .dice59 {
    width: 148px;
    height: 148px;
  }
  .dice60 {
    width: 184px;
    height: 184px;
  }
  .dice61 {
    width: 136px;
    height: 136px;
  }
  .dice62 {
    width: 81px;
    height: 81px;
  }
  .dice63 {
    width: 163px;
    height: 163px;
  }
  .dice64 {
    width: 240px;
    height: 240px;
  }
  .dice65 {
    width: 91px;
    height: 91px;
  }
  .dice66 {
    width: 105px;
    height: 105px;
  }
  .dice67 {
    width: 164px;
    height: 164px;
  }
  .dice68 {
    width: 65px;
    height: 65px;
  }
  .dice69 {
    width: 184px;
    height: 184px;
  }
  .dice70 {
    width: 110px;
    height: 110px;
  }
  .dice71 {
    width: 164px;
    height: 164px;
  }
  .dice72 {
    width: 91px;
    height: 91px;
  }
  .dice73 {
    width: 76px;
    height: 76px;
  }
  .dice74 {
    width: 136px;
    height: 136px;
  }
  .dice75 {
    width: 240px;
    height: 240px;
  }
  .dice76 {
    width: 115px;
    height: 115px;
  }
  .dice77 {
    width: 171px;
    height: 171px;
  }
  .dice78 {
    width: 136px;
    height: 136px;
  }
  .dice79 {
    width: 157px;
    height: 157px;
  }
  .dice80 {
    width: 136px;
    height: 136px;
  }
  .dice81 {
    width: 164px;
    height: 164px;
  }
  .dice82 {
    width: 136px;
    height: 136px;
  }
  .dice83 {
    width: 116px;
    height: 116px;
  }
  .dice84 {
    width: 136px;
    height: 136px;
  }
  .dice85 {
    width: 160px;
    height: 160px;
  }
  .dice86 {
    width: 209px;
    height: 209px;
  }
  .dice87 {
    width: 120px;
    height: 120px;
  }
  .dice88 {
    width: 104px;
    height: 104px;
  }
  .dice89 {
    width: 198px;
    height: 198px;
  }
  .dice90 {
    width: 101px;
    height: 101px;
  }
  .dice91 {
    width: 122px;
    height: 122px;
  }
  .dice92 {
    width: 136px;
    height: 136px;
  }
  .dice93 {
    width: 169px;
    height: 169px;
  }
  .dice94 {
    width: 240px;
    height: 240px;
  }
  .dice95 {
    width: 164px;
    height: 164px;
  }
  .dice96 {
    width: 83px;
    height: 83px;
  }
  .dice97 {
    width: 136px;
    height: 136px;
  }
  .dice98 {
    width: 240px;
    height: 240px;
  }
  .dice99 {
    width: 85px;
    height: 85px;
  }
  .dice100 {
    width: 164px;
    height: 164px;
  }
  .dice101 {
    width: 123px;
    height: 123px;
  }
  .dice102 {
    width: 89px;
    height: 89px;
  }
  .dice103 {
    width: 89px;
    height: 89px;
  }
  .dice104 {
    width: 95px;
    height: 95px;
  }
  .dice105 {
    width: 95px;
    height: 95px;
  }
  .dice106 {
    width: 185px;
    height: 185px;
  }
  .dice107 {
    width: 93px;
    height: 93px;
  }
  .dice108 {
    width: 116px;
    height: 116px;
  }
  .dice109 {
    width: 82px;
    height: 82px;
  }
  .dice110 {
    width: 60px;
    height: 60px;
  }
  .dice111 {
    width: 104px;
    height: 104px;
  }
  .dice112 {
    width: 164px;
    height: 164px;
  }
  .dice113 {
    width: 93px;
    height: 93px;
  }
  .dice114 {
    width: 102px;
    height: 102px;
  }
  .dice115 {
    width: 60px;
    height: 60px;
  }
  .dice116 {
    width: 84px;
    height: 84px;
  }
  .dice117 {
    width: 209px;
    height: 209px;
  }
  .dice118 {
    width: 264px;
    height: 264px;
  }
  .dice119 {
    width: 136px;
    height: 136px;
  }
}
